<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.kickerhax.updater" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>KickerHaxUpdater</name>
  <js-module src="www/KickerHaxUpdater.js" name="KickerHaxUpdater">
    <clobbers target="cordova.plugins.KickerHaxUpdater" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="KickerHaxUpdater">
        <param name="android-package" value="com.kickerhax.updater.KickerHaxUpdater" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
      <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="com.kickerhax.updater.UpdateCheckReceiver" android:exported="true">
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED" />
          <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
        </intent-filter>
      </receiver>
      <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.kickerhaxupdater" android:exported="false" android:grantUriPermissions="true">
        <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/kicker_hax_update_paths" />
      </provider>
    </config-file>
    <source-file src="src/android/KickerHaxUpdater.java" target-dir="src/com/kickerhax/updater" />
    <source-file src="src/android/UpdateCheckReceiver.java" target-dir="src/com/kickerhax/updater" />
    <source-file src="src/android/UpdateCheckWorker.java" target-dir="src/com/kickerhax/updater" />
    <framework src="androidx.work:work-runtime:2.9.1" />
    <resource-file src="src/android/kicker_hax_notification_icon.xml" target="res/drawable/kicker_hax_notification_icon.xml" />
    <resource-file src="src/android/kicker_hax_update_paths.xml" target="res/xml/kicker_hax_update_paths.xml" />
  </platform>
</plugin>
